/* src/components/Home.css */
.home-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

.exercise-selection {
    margin-bottom: 20px;
}

button {
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.chatbot-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #780000; /* Maroon color */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.chatbot-button:hover {
    background-color: #9d0e0e; /* Darker shade of maroon on hover */
}

.chatbot-window {
    position: fixed;
    bottom: 70px; /* Space above the chatbot button */
    right: 20px;
    width: 300px;
    height: 400px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
}
